*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.main{
    background-color: #090807;
    color: #fff;
    text-align: center;
    /* padding-top: 25px; */

}
.main h1{
    padding: 25px 0;
}   

.first{
    background-color: #333333;
    text-align: left;
    padding-left: 4%;
    padding-top: 2%;
}

.image{
    width: 30%;
    margin: 10px;
}

.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #009688;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #34c9ba;
    text-decoration: none;
  }